body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-wrapper {
  background-color: aquamarine;
  padding-top: 10px;
  min-height: 40vh;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  /* position: absolute;
  left: 50%; */

}
.text-field{
  height: 60px;
  width: 70%;
  border: none;
  border-radius: 5px;
  padding-left: 7px;
  outline: none;
}
.button{
  background-color: #4CAF50; /* Green background color */
  border: none; /* Remove borders */
  color: white; /* White text color */
  padding: 15px 32px; /* Set padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Set font size */
  margin: 4px 2px; /* Set margin */
  transition-duration: 0.4s; /* Set transition duration */
  cursor: pointer; /* Add cursor pointer */
  border-radius: 8px;
}
.button:hover {
  background-color: #45a049; /* Darker green background color on hover */
}
.list {
 display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-top: 25px;
  padding-left: 25px;
  width: 100%;
  flex-direction: column;

}
.eachList {
  cursor: pointer;
}
.task {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}
